.button{

    -fx-border-width: 2;
    -fx-border-color: rgba(39, 43, 92, 0.82);
    -fx-border-radius: 2;
}

#hbox{

    -fx-background-color: #1e90ff;
    -fx-border-width: 0;

}

#heading {
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

#text {
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

#border{
    -fx-border-width: 4;
    -fx-border-color: #272b5c;
}

#HboxText{
    -fx-text-fill: #272b5c;
}

#bigButton{
    -fx-max-height: 50;
    -fx-max-width: 100;

}

.userInformation {
    -fx-fill: #1e90ff;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

